@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-family: 'Roboto', sans-serif;
  background-color: #eed6fd;
  scroll-behavior: smooth; }

header {
  background-color: antiquewhite;
  padding: 30px; }
  header nav {
    width: 80%;
    margin: 0 auto; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      header nav ul li {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 400; }
        header nav ul li a {
          text-decoration: none;
          color: #ce4646;
          padding: 15px;
          transition: 0.3s;
          border-radius: 5px; }
        header nav ul li :hover {
          background-color: #5fc2ba;
          color: black; }

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenido .mascota {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 500px;
    height: auto; }
    .contenido .mascota:hover {
      box-shadow: 2px 2px 5px 2px #999;
      transition: 0.5 ease-in-out;
      transform: scale(1.1); }
    .contenido .mascota .imagenMascota {
      width: 400px;
      width: 400px; }
    .contenido .mascota h2 {
      margin-top: 30px; }

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 150%; }

footer {
  background-color: antiquewhite;
  padding: 30px;
  display: flex;
  max-width: 100%; }
  footer .redes {
    width: 50%;
    display: flex;
    justify-content: end; }
    footer .redes ul {
      display: flex;
      flex-direction: row; }
      footer .redes ul li {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 400;
        justify-content: end; }
        footer .redes ul li a {
          text-decoration: none;
          color: #ce4646;
          margin-right: 20px; }
  footer .subir {
    display: flex;
    justify-content: start;
    width: 50%; }
