footer{
    background-color: antiquewhite;
    padding: 30px;
    display: flex;
    max-width: 100%;


    .redes{
        width: 50%;
        display: flex;
        justify-content: end;

        ul{
            display: flex;
            flex-direction: row;


            li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 400;
                justify-content: end;
    
                a{
                    text-decoration: none;
                    color: rgb(206, 70, 70);
                    margin-right: 20px;
                }
            }
        }
    }
    
    .subir{
        display: flex;
        justify-content: start;
        width: 50%;
    }
}