@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 214, 253);
    scroll-behavior: smooth;
}