header{
    background-color: antiquewhite;
    padding: 30px;

    nav{
        width: 80%;
        margin: 0 auto;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 400;

                a{
                    text-decoration: none;
                    color: rgb(206, 70, 70);
                    padding: 15px;
                    transition: 0.3s;
                    border-radius: 5px;
                }

                :hover{
                    background-color: #5fc2ba;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}